<a href="https://colab.research.google.com/github/mariacdev/mariacdev/blob/main/Curso_Basico_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Lógica de programação 

# Passo 0 - Entender o desafio que você quer resolver 

# Passo 1 - Percorrer todos os arquivos da pasta base de dados (Pasta Vendas)
import os

lista_arquivo = os.listdir("/content/drive/MyDrive/Vendas")
print(lista_arquivo)

# Passo 2 - Importar as bases de dados de vendas
for arquivo in lista_arquivo:
  print(arquivo)
  print("")
  # importar o arquivo 


  


# Passo 3 - Tratar / Compilar as bases de dados 

# Passo 4 - Calcular o produto mais vendido (em quantidade)

# Passo 5 - Calcular o produto mais vendido (em faturamento)

# Passo 6 - Calcular a loja/cidade que mais vendeu (em faturamento) - criar um gráfico / dashboard

['Devolucoes - São Paulo.csv', 'Vendas - Porto Alegre.csv', 'Devolucoes - Recife.csv', 'Devolucoes - Porto Alegre.csv', 'Vendas - Fortaleza.csv', 'Devolucoes - Goiás.csv', 'Vendas - Salvador.csv', 'Devolucoes - Rio de Janeiro.csv', 'Devolucoes - Salvador.csv', 'Devolucoes - Curitiba.csv', 'Vendas - Rio de Janeiro.csv', 'Devolucoes - Fortaleza.csv', 'Vendas - São Paulo.csv', 'Vendas - Belo Horizonte.csv', 'Devolucoes - Belo Horizonte.csv', 'Vendas - Recife.csv', 'Vendas - Goiás.csv', 'Vendas - Curitiba.csv']
Devolucoes - São Paulo.csv
Vendas - Porto Alegre.csv
Devolucoes - Recife.csv
Devolucoes - Porto Alegre.csv
Vendas - Fortaleza.csv
Devolucoes - Goiás.csv
Vendas - Salvador.csv
Devolucoes - Rio de Janeiro.csv
Devolucoes - Salvador.csv
Devolucoes - Curitiba.csv
Vendas - Rio de Janeiro.csv
Devolucoes - Fortaleza.csv
Vendas - São Paulo.csv
Vendas - Belo Horizonte.csv
Devolucoes - Belo Horizonte.csv
Vendas - Recife.csv
Vendas - Goiás.csv
Vendas - Curitiba.csv

In [ ]:
# Lógica de programação 

# Passo 0 - Entender o desafio que você quer resolver 

# Passo 1 - Percorrer todos os arquivos da pasta base de dados (Pasta Vendas)
import os

lista_arquivo = os.listdir("/content/drive/MyDrive/Vendas")
print(lista_arquivo)

# Passo 2 - Importar as bases de dados de vendas
for arquivo in lista_arquivo:
  print(arquivo)
  print("")
  # importar o arquivo 


  


# Passo 3 - Tratar / Compilar as bases de dados 

# Passo 4 - Calcular o produto mais vendido (em quantidade)

# Passo 5 - Calcular o produto mais vendido (em faturamento)

# Passo 6 - Calcular a loja/cidade que mais vendeu (em faturamento) - criar um gráfico / dashboard

['Devolucoes - São Paulo.csv', 'Vendas - Porto Alegre.csv', 'Devolucoes - Recife.csv', 'Devolucoes - Porto Alegre.csv', 'Vendas - Fortaleza.csv', 'Devolucoes - Goiás.csv', 'Vendas - Salvador.csv', 'Devolucoes - Rio de Janeiro.csv', 'Devolucoes - Salvador.csv', 'Devolucoes - Curitiba.csv', 'Vendas - Rio de Janeiro.csv', 'Devolucoes - Fortaleza.csv', 'Vendas - São Paulo.csv', 'Vendas - Belo Horizonte.csv', 'Devolucoes - Belo Horizonte.csv', 'Vendas - Recife.csv', 'Vendas - Goiás.csv', 'Vendas - Curitiba.csv']
Devolucoes - São Paulo.csv
Vendas - Porto Alegre.csv
Devolucoes - Recife.csv
Devolucoes - Porto Alegre.csv
Vendas - Fortaleza.csv
Devolucoes - Goiás.csv
Vendas - Salvador.csv
Devolucoes - Rio de Janeiro.csv
Devolucoes - Salvador.csv
Devolucoes - Curitiba.csv
Vendas - Rio de Janeiro.csv
Devolucoes - Fortaleza.csv
Vendas - São Paulo.csv
Vendas - Belo Horizonte.csv
Devolucoes - Belo Horizonte.csv
Vendas - Recife.csv
Vendas - Goiás.csv
Vendas - Curitiba.csv

In [ ]:
# Lógica de programação 

# Passo 0 - Entender o desafio que você quer resolver 

# Passo 1 - Percorrer todos os arquivos da pasta base de dados (Pasta Vendas)
import os
import pandas as pd 

lista_arquivo = os.listdir("/content/drive/MyDrive/Vendas")


tabela_total = pd.DataFrame()

# Passo 2 - Importar as bases de dados de vendas
for arquivo in lista_arquivo:
  # se tem "Vendas" no noe do arquivo, então 
  if "Vendas" in arquivo: 
    # importar o arquivo 
    tabela = pd.read_csv(f"/content/drive/MyDrive/Vendas/{arquivo}") 
    tabela_total = tabela_total.append(tabela)

# Passo 3 - Tratar / Compilar as bases de dados 
display(tabela_total)


# Passo 5 - Calcular o produto mais vendido (em faturamento)

# Passo 6 - Calcular a loja/cidade que mais vendeu (em faturamento) - criar um gráfico / dashboard

<ipython-input-14-872158538ed9>:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-14-872158538ed9>:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-14-872158538ed9>:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-14-872158538ed9>:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-14-872158538ed9>:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-14-872158538ed9>:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-14-872158538ed9>:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-14-872158538ed9>:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-14-872158538ed9>:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,14,HL4379,Televisão,4,Ylana,Teraoka,6/23/2018,Porto Alegre,2500,NaN
1,34,HL1148,Câmera,1,Rubens,Netto,7/11/2018,Porto Alegre,2100,NaN
2,43,HL1148,Câmera,5,Paloma,Sperandei,9/15/2018,Porto Alegre,2100,NaN
3,49,HL8851,Notebook,5,Breno,Farias,6/24/2018,Porto Alegre,3500,NaN
4,52,HL4379,Televisão,2,Lorena,Kohn,7/31/2018,Porto Alegre,2500,NaN
...,...,...,...,...,...,...,...,...,...,...
714,9859,HL2714,Tablet,1,Júlio,Fraga,12/25/2018,Curitiba,1600,NaN
715,9876,HL4379,Televisão,5,Bruno,Mota,4/30/2018,Curitiba,2500,NaN
716,9918,HL1148,Câmera,2,Lucas,Reis,12/27/2018,Curitiba,2100,NaN
717,9944,HL1918,iPhone,5,Raphael,Kurtz,7/16/2018,Curitiba,5300,NaN
718,9998,HL7348,SmartWatch,1,Vinícius,Antunes,12/10/2018,Curitiba,1400,NaN

In [ ]:
# Passo 4 - Calcular o produto mais vendido (em quantidade)
tabela_produtos = tabela_total.groupby('Produto').sum()
tabela_produtos = tabela_produtos[["Quantidade Vendida"]].sort_values(by="Quantidade Vendida", ascending=False)
display(tabela_produtos)

<ipython-input-18-bdf965a2c7d3>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tabela_produtos = tabela_total.groupby('Produto').sum()

            Quantidade Vendida
Produto
iPhone                    8974
Televisão                 5931
Notebook                  3249
Android                   3183
SmartWatch                2980
Tablet                    2921
Câmera                    2805

In [ ]:
# Passo 5 - Calcular o produto que mais faturou (em faturamento)
tabela_total['Faturamento'] = tabela_total['Quantidade Vendida'] * tabela_total['Preco Unitario']

tabela_faturamento = tabela_total.groupby('Produto').sum()
display(tabela_faturamento)
tabela_faturamento = tabela_faturamento[["Faturamento"]].sort_values(by="Faturamento", ascending=False)
display(tabela_faturamento)

<ipython-input-23-3ec628bc646e>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tabela_faturamento = tabela_total.groupby('Produto').sum()

,Unnamed: 0,Quantidade Vendida,Preco Unitario,Unnamed: 8,Faturamento
Produto,,,,,
Android,5164013,3183,3631200,0.0,10822200
Câmera,4848296,2805,2020200,0.0,5890500
Notebook,5393100,3249,3717000,0.0,11371500
SmartWatch,4968367,2980,1393000,0.0,4172000
Tablet,4920118,2921,1556800,0.0,4673600
Televisão,9675708,5931,4905000,0.0,14827500
iPhone,15015399,8974,15778100,0.0,47562200

            Faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

In [ ]:
# Passo 6 - Calcular a loja/cidade que mais vendeu (em faturamento)
tabela_lojas = tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[['Faturamento']]
display(tabela_lojas)

<ipython-input-26-b6726d4e150e>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tabela_lojas = tabela_total.groupby('Loja').sum()

                Faturamento
Loja
Belo Horizonte      6480300
Curitiba            7060500
Fortaleza          14087900
Goiás               7441800
Porto Alegre        6868600
Recife              7303000
Rio de Janeiro     14867800
Salvador           13111300
São Paulo          22098300

In [ ]:
import plotly.express as px 

grafico = px.bar(tabela_lojas, x=tabela_lojas.index, y='Faturamento')
grafico.show()

Passo a passo de solução do desafio